<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a MercadoLiebre</title>
    <link rel="stylesheet" href="css/styles.css"></link>
</head>
<body>
    <header>
        <img src="/imgs/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" height="100px">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href="http://localhost:3000/ofertas">Ofertas</a></li>
            <li><a href="http://localhost:3000/tiendas-oficiales">Tiendas Oficiales</a></li>
            <li><a href="http://localhost:3000/vender">Vender</a></li>
            <li><a href="http://localhost:3000/ayuda">Ayuda</a></li>
            <br>
            <li><a href="http://localhost:3000/crear-cuenta">Creá tu cuenta</a></li>
            <li><a href="http://localhost:3000/ingresar">Ingresá</a></li>
            <li><a href="http://localhost:3000/mis-compras">Mis compras</a></li>
        </ul>
    </header>
    <maine>
        <img src="/imgs/img-home-banner.jpg" alt="Home banner" height="100px">
        <div>
            <p> Basado en tu última visita</p>
            <img src="/imgs/img-cafetera-moulinex.jpg" alt="Logo de cafetera" height="175px">
            <p>$6.770</p>
            <p class="price">40% off</p>
            <p>Cafetera Moulinex</p>
            <img src="/imgs/img-macbook-pro-2019.jpg" alt="Logo de MacBook" height="175px">
            <p class="price">$230.000</p>
            <p>20% Off</p>
            <p>MacBook Pro 2019</p>
            <img src="/imgs/img-samsung-galaxy-s10.jpg" alt="Logo de Samsung Galaxy" height="175px">
            <p class="price">$70.500</p>
            <p>10% OFF</p>
            <p>Cafetera Moulinex</p>
            <img src="/imgs/img-cafetera-moulinex.jpg" alt="Logo de Samsung TV" height="175px">
            <p class="price">$23.200</p>
            <p>5% OFF</p>
            <p>Cafetera Moulinex</p>
        </div>
        <div>
            <p> Ofertas</p>
            <img src="/imgs/img-cafetera-moulinex.jpg" alt="Logo de cafetera" height="175px">
            <p>$6.770</p>
            <p class="price">40% off</p>
            <p>Cafetera Moulinex</p>
            <img src="/imgs/img-macbook-pro-2019.jpg" alt="Logo de MacBook" height="175px">
            <p class="price">$230.000</p>
            <p>20% Off</p>
            <p>MacBook Pro 2019</p>
            <img src="/imgs/img-samsung-galaxy-s10.jpg" alt="Logo de Samsung Galaxy" height="175px">
            <p class="price">$70.500</p>
            <p>10% OFF</p>
            <p>Cafetera Moulinex</p>
            <img src="/imgs/img-cafetera-moulinex.jpg" alt="Logo de Samsung TV" height="175px">
            <p class="price">$23.200</p>
            <p>5% OFF</p>
            <p>Cafetera Moulinex</p>
        </div>
    </maine>
    <footer>
        <div>
            <P class="titulo-footer">Pagá con tarjeta o en efectivo</P>
            <p class="texto-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <P class="titulo-footer">Envío gratis desde $2.500</P>
            <p class="texto-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <P class="titulo-footer">Seguridad, de principio a fin</P>
            <p class="texto-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
        <div>
            <P>Copyright © 1999-2020 MercadoLiebre S.R.L.</P>
        </div>
    </footer>
</body>
</html>