<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src="public/imgs/img-home-banner.jpg">
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul>
            <li><a href="http://www.mercadoliebre.com.ar/ofertas">Ofertas</a></li>
            <li><a href="http://www.mercadoliebre.com.ar/tiendas-oficiales">Tiendas Oficiales</a></li>
            <li><a href="http://www.mercadoliebre.com.ar/vender">Vender</a></li>
            <li><a href="http://www.mercadoliebre.com.ar/ayuda">Ayuda</a></li>
            <br>
            <li><a href="http://www.mercadoliebre.com.ar/crea-tu-cuenta">Creá tu cuenta</a></li>
            <li><a href="http://www.mercadoliebre.com.ar/ingresa">Ingresá</a></li>
            <li><a href="http://www.mercadoliebre.com.ar/mis-compras">Mis compras</a></li>
        </ul>
        
    </header>
    <maine>

    </maine>
    <footer>
        
    </footer>
</body>
</html>