<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Bienvenido a MercadoLiebre</title>
    <link rel="stylesheet" href="css/styles.css"></link>
    <link rel="stylesheet" href="css/loginStyles.css"></link>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6833924c9e.js" crossorigin="anonymous"></script>
</head>
<body>
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <header>
        <div class="top-bar">
            <div class="logo-search-bar">
                <a href="/" id="logo"><img src="/imgs/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                <form class="search-bar-div">
                    <input type="search" class="search-bar"><i class="fas fa-search lens"></i>
                </form>
            </div>
            <h2 class="installments-no-credit-card">
                <i class="fas fa-hand-holding-usd"></i> 
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="navbar">
            <ul class="navbar-left">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <ul class="navbar-right"> 
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card navbar-right-icon"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt navbar-rignt-icon"></i></a></li>
                <li><a href="/mis-compras">Mis compras <i class="fas fa-shopping-basket navbar-right-icon"></i></a></li>
            </ul>
        </nav>
        <div class="bars">
            <a href="#" class="bars-icon"><i class="fas fa-bars"></i></a>
        </div>
    </header>
    <main class="main-login">
        <form action="/home" method="GET">
            <div>
                <label for="nombreApellido">
                    <input type="text" name="nombreApellido" placeholder="Nombre de usuario" required>
                </label>
            </div>
            <div>
                <label for="passwordUsuario">
                    <input type="password" name="passwordUsuario" placeholder="Elegí tu contraseña" required>
                </label>
            </div>
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <div class="footer-desktop footer-login">
            <section class="benefits">
                <div class="benefits-icon">
                    <i class="fas fa-credit-card"></i></div>
                <div class="benefits-title">
                    <strong>Pagá con tarjeta o en efectivo</strong></div>
                <div class="benefits-description">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</div>
            </section>
            <section class="benefits">
                <div class="benefits-icon">
                    <i class="fas fa-gift"></i></div>
                <div class="benefits-title">
                    <strong>Envío gratis desde $2.500</strong></div>
                <div class="benefits-description">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</div>
            </section>
            <section class="benefits">
                <div class="benefits-icon">
                    <i class="fas fa-user-shield"></i></div>
                <div class="benefits-title">
                    <strong>Seguridad de principio a fin</strong></div>
                <div class="benefits-description">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</div>
            </section>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>