/* CSS > basado en SELECTORES
.azul{
    color:#03264C}; 
.celeste{
    color:#1259c3}; 
.verde{
    color:#39b54a};*/
.white-color {
    color:#ffff;
}
.logo {
    text-align: left;
}
header {
    background-color:#EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.align-center {
    text-align: center;
}
.align-justify {
    text-align: justify;
}
p{
    font-size: 16mp;
}
h3 {
    font-size: 24px;
    font-weight: bold;
}
.bars {
    color:white;
    background-color:#1259c3;
    background-size: cover;
    padding: 5px;
}
.price {
    font-size: 18px;
}
footer p{
    color:#666;
}
.footer-title {
    font-weight: bold;
}
footer i {
    color:#1259c3;
    margin-bottom: 10px;
    font-size: 2em;
}
hr {
    border: 0;
    border-top: 2px solid #999; 
    border-bottom: 2px solid #333;
    height:0;
    }
