* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    color:#666;
    background-color: #ebebeb;
    font-family: \'Roboto\', sans-serif;
    font-size: 3vw;
    text-align: center;
    margin: auto;
    padding-bottom: 15px;
}
header {
    color: #000;
    background-color:#EAC926;
    text-align: left;
    width: 100vw;
    padding-bottom: 10px;
}
.logo-search-bar {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
}
#logo {
    background-color: #EAC926;
    text-align: left;
    padding-left: 3%;
    padding-top: 3%;
    width:50%;
}
.search-bar-div {
    padding-left: 3%;
    width: 50%;
}
.search-bar {
    width: 80%;
    height: 25px;
    border-radius: 3px;
    border: solid #ebebeb 1px;
}
.lens {
    background-color: transparent;
    font-size: 12px;
    color: gray;
    padding: 2px;
    position: relative;
    right: 20px;
}
.installments-no-credit-card {
    font-weight: 400;
    padding: 10px;
    font-size: 110%;
    text-align: center;
}
.bars {
    text-align: center;
    padding: 10px 0px;
}
.bars-icon {
    color:white;
    background-color: #03264C;
    display: inline-block;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
}
#banner {
    height: auto;
    width:100%;
}
.navbar {
    display: none;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 72%;
}
main {
    background-color:#ebebeb;
    text-align: left;
    width: 90vw;
    margin: auto;
}
h3 {
    font-weight: bold;
    margin:15px 0;
}
.product {
    background-color: white;
    margin: 5px auto;
    padding-bottom: 10px;
    display: block;
    transition: all .5s;
}
.product:hover {
    box-shadow: 0px 0px 10px #646464;
}
.shipping-price-discount {
    border-top: solid 1px #ebebeb;
}
.shipping {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}
.shipping-circle {
    border: solid 1px #39b54a;
    border-radius: 50%;
    font-size: 25px;
    padding: 5px;
    width: 55px;
    height: 55px;
    background-color: #fff;
    position: absolute;
    right: 25px;
    top: -25px;
}
.shipping-icon {
    color: #39b54a;
    transition: transform .7s ease-in-out;
}
.shipping-icon:hover {
    transform: rotate(360deg);
}
.product section{
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-align: left;
    margin: auto;
    margin-top: 5px;
    padding: 15px;
}
.price {
    font-size: 5vw;
}
.price-discount {
    display: flex;
    align-items: center;
}
.price-discount h4 {
    width: 30%;
}
.price-discount h3 {
    width: 70%;
}
.product-description {
    font-size: 4vw;
    padding-left: 15px;
    padding-bottom: 10px;
}
.product-discount {
    font-size: 4vw;
    text-align: center;
    color: #39b54a;
    width: 70%;
    padding-left: 5px;
}
footer {
    background-color: #fff;
    text-align: center;
    padding: 25px 15px;
}
.benefits {
    padding: 3%;
    width: 100%;
}
.benefits-description {
    font-size: 1em;
}
.benefits-icon {
    color:#1259c3;
    font-size: 2em;
    margin-bottom: 10px;
}
.benefits-title {
    font-size: 1.2em;
    margin:auto;
}
.copyright {
    text-align: left;
    font-size: 0.8em;
}


/* ----------------------- Mobile ---------------------------- */
@media (min-width: 170px) {
    .navbar {
        display: none;
    }
    h3 {
        font-size: 6vw;
    }
    .product-description {
        display: none;
        transition: all .6s;
    }
    article:hover .product-description {
            display: block;
    }
}

/* ------------------------ Tablet --------------------------- */
@media (min-width: 768px) {
    header {
        font-size: 11px;
        padding-bottom: 0px;
    }
    .display-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .top-bar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    .installments-no-credit-card {
        font-size: 17px;
        align-self: center;
        width: 85%;
        padding: 0%;
    }
    .bars {
        display: none;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        height: 40%;
    }
    .navbar-right {
        display: flex;
        align-items: flex-end;
        max-width: 50%;
        font-size: 17px;
    }
    .navbar-left {
        display: flex;
        align-items: flex-end;
        max-width: 50%;
        font-size: 17px;
    }
    .navbar a i{
        padding-left: 2px;
    }
    .navbar li {
        margin: 0 5px;
        text-align: left;

    }
    h3 {
        font-size: 3vw;
        padding-left: 15px;
    }
    .product {
        box-shadow: 0px 0px 10px #646464;
        max-width: 45%;
    }
    .price {
        font-size: 2.7vw;
    }
    .product-discount {
        font-size: 2.5vw;
    }
    .product-description {
        visibility: visible;
        font-size: 2.5vw;
    }
    .benefits-icon {
        font-size: 1em;
    }
    .benefits-title {
        font-size: 24px;
    }
    .benefits-description {
        font-size: 20px;
    }

    /* ------------------------ Desktop -------------------------- */
    @media (min-width: 1024px){
        .search-bar-div {
            width: 94%;
            height: 30px;
        }
        .installments-no-credit-card {
            font-size: 18px;
        }.navbar {
            padding: 0 20px;
        }
        .navbar a {
            font-size: 16px;
        }
        main {
            width: 95vw;
        }
        h3 {
            font-size: 2.5vw;
        }
        .product {
            max-width: 20%;
        }
        .shipping-circle {
            font-size: 20px;
            width: 40px;
            height: 40px;
            position: absolute;
            right: 25px;
            top: -22px;
        }
        .product .price {
            font-size: 2.2vw;
        }
        .product .product-description {
            font-size: 1.5vw;
        }
        .product .product-discount {
            font-size: 1.8vw;
        }
        .display-flex {
            display: flex;
            flex-wrap: wrap;
            width: 95vw;
            margin: auto; 
        }
        .footer-desktop {
            display: flex;
        }
        .benefits {
            font-size: 15px;
            padding: 1%;
        }
        .benefits-icon {
            font-size: 2em;
        }
        .benefits-icon i:hover {
            color: #5c2fb5;
        }
        .benefits-title {
            font-size: 20px;
        }
        .benefits-description {
            font-size: 15px;
        }
        .copyright {
            font-size: 12px;
            padding-left: 10px;
            padding-top: 5px;
        }
        /* Register */
        .register-form {
            max-width:70vw;
            margin: auto;
        }
    }
    /* .bars-icon {display: none;}
    .display-flex {
        margin: 0% 5% 3% 5%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .price {
        font-size: 4vw;
    }
    .product {
        box-shadow: 0px 0px 10px #646464;
        width: 40%;
        margin: 1.5%;
    } */
}

/* ------------------------ Desktop --------------------------- */
